html, body {
  height: 100%;
}

.box {
  width: 100%;
  height: 40%;
}

#main-tab {
  margin-bottom: 0px;
  background-color: #546e7a;
}
.tabs {
  background-color: #546e7a;
}
.tabs .tab a {
  color: #fff;
}
.tabs .tab a:hover {
  color: #90a4ae; 
}
.tabs .tab.disabled a {
  color: #90a4ae;
}
.tabs .indicator {
  background-color: #fff;
}

.card {
  margin-top: -20%;
}

.collection a.collection-item:not(.active):hover {
  background-color: #eceff1; 
}

.styled-link-dark {
  color: #546e7a;
}
.styled-link-dark:hover {
  color: #263238;
}

.styled-link-light {
  color: #cfd8dc;
}
.styled-link-light:hover {
  color: #fff;
}

.modal-action {
  color: #ffab40;
}
.modal-action:hover {
  color: #ffd8a6; 
}

.latex sub {
  vertical-align: -0.02ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.02em;
  margin-left: -0.36em;
}

.right-border {
  border-right: 1px solid #e0e0e0;
}
